* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nunito, sans-serif;
}

body {
  --background-color: white;
  --elements-color: white;
  --text-color: black;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  padding-bottom: 100px;
}

body.dark {
  --background-color: hsl(207, 26%, 17%);
  --elements-color: hsl(209, 23%, 22%);
  --text-color: white;
}

.header-container {
  padding-inline: 24px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  background-color: var(--elements-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
  padding: 24px 0;
}

main {
  padding-inline: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration-line: none;
  color: inherit;
}

.countries-container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 4vw;
}

.country-card {
  width: 250px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-bottom: 30px;
  overflow: hidden;
  margin-top: 40px;
  transition: all ease-in-out 0.2s;
  display: inline-block;
  min-height: 340px;
  background-color: var(--elements-color);
}

.country-card img {
  width: 100%;
}

.card-title {
  margin-block: 10px;
}

.card-content {
  padding-left: 10px;
}

.country-card:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
}

.country-page-container {
  padding-inline: 24px;
}

.country-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
  margin-block: 40px;
}

.flag {
  width: 50%;
}

.flag img {
  width: 80%;
}

.details-container {
  width: 50%;
}

.country-page-title {
  font-size: 34px;
  margin-bottom: 20px;
}

.border-countries {
  margin-top: 40px;
}

.border-countries a {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  margin-inline: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 5px;
  background-color: var(--elements-color);
}

.title-details {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.title-details p {
  line-height: 25px;
}

.back {
  height: 100%;
  width: 100%;
  margin-block: 50px;
}

.back a {
  background-color: var(--elements-color);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  padding: 10px 30px;
  border-radius: 5px;
}

.filter-section {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.search-bar {
  width: 300px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  background-color: var(--elements-color);
}

.search-bar i {
  margin-right: 10px;
}

.search-bar input {
  width: 83%;
  height: 50px;
  outline: none;
  border: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
  background-color: inherit;
  color: var(--text-color);
}

.filter-region {
  width: auto;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  cursor: pointer;
  background-color: var(--elements-color);
}

.filter-region select {
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background-color: inherit;
  color: var(--text-color);
}

.filter-region select:focus {
  outline: none;
}

.theme {
  cursor: pointer;
}

@media (max-width: 886px) {
  .header-content {
    font-size: 3vw;
  }
  .country-card {
    width: 40%;
  }
  .filter-section {
    width: 100%;
  }
  .details-container {
    font-size: 2vw;
  }
  .country-page-title{
    font-size: 3vw;
  }
}

@media (max-width: 600px) {
  .country-card {
    width: 100%;
  }
  .filter-section {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .search-bar {
    width: 90%;
  }

  .search-bar input {
    width: 70%;
  }
  .header-content {
    font-size: 4vw;
  }
  .country-page{
    flex-direction: column;
  }
  .flag {
    width: 100%;
  }
  .details-container{
    width: 100%;
  }
  .title-details{
    flex-direction: column;
  }
  .details-container {
    font-size: 3.8vw;
  }
  .country-page-title{
    font-size: 5.5vw;
    margin-top: 20px;
  }
  .back {
    margin-top: 30px;
    margin-bottom: -30px;
    font-size: 3.5vw;
  }
}
